body{
    background: antiquewhite;
}

nav{
    background: #191D88;
    color: antiquewhite;
}

.nav-link{
    text-align: center;
}



.navbar-toggler {
    border: none !important; /* Remove the default border on the button */
    outline: none !important; /* Remove the default outline on the button */
    box-shadow: none !important;
    margin-left: auto;
    
}

.navbar-toggler:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
        background-image: url('./menu.png'); /* Replace 'your-custom-icon.png' with your image path or URL */
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px; /* Adjust the width and height as needed */
        height: 50px;
}


