body{
    background: antiquewhite;
}

nav{
    background: #191D88;
    color: antiquewhite;
}
.nav-item{
    margin-right: 20px;
    font-family: 'Ubuntu', sans-serif;

}

.nav-link{
    text-align: center;
}



.navbar-toggler {
    border: none !important; /* Remove the default border on the button */
    outline: none !important; /* Remove the default outline on the button */
    box-shadow: none !important;
    margin-left: auto;
    
}

.navbar-toggler:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
        background-image: url('./menu.png'); /* Replace 'your-custom-icon.png' with your image path or URL */
        width: 50px; /* Adjust the width and height as needed */
        height: 50px;
}


.nav-link.active,.nav-link:hover {
            color: white !important; /* Change text color to black */
            background-color:#0D1282  !important; /* Change background color to antiquewhite */
            border-radius: 5px;
        }


@media (max-width: 767px) {
    .navstuff{
        display: block;
        width: 100%;
    }

    .nav-link.active,.nav-link:hover{
        max-width:400px;
    }
    
}

@media (min-width: 768px) and (max-width: 1023px) {
    .navstuff{
        display: block;
        width: 100%;
    }

    .nav-link.active,.nav-link:hover{
    }
    
}



