body{
    background: #4F4557;
}
/*nav*/
nav{
    background: #393646;
    color: antiquewhite;
}
.nav-item{
    margin-right: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-link{
    text-align: center;
}



.navbar-toggler {
    border: none !important; /* Remove the default border on the button */
    outline: none !important; /* Remove the default outline on the button */
    box-shadow: none !important;
    margin-left: auto;
    margin-right: 0px !important;
    padding-right: 0px !important;
    
}

.navbar-toggler:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
        background-image: url('./menu.png'); /* Replace 'your-custom-icon.png' with your image path or URL */
        width: 50px; /* Adjust the width and height as needed */
        height: 50px;
}


.nav-link.active,.nav-link:hover {
            color: white !important; /* Change text color to black */
            background-color:#4F4557  !important; /* Change background color to antiquewhite */
            border-radius: 5px;
        }


@media (max-width: 767px) {
    .navstuff{
        display: block;
        width: 100%;
    }

    .nav-link.active,.nav-link:hover{
        max-width: 100%;
    }

    .nav-item{
        margin-right: 0px;
        font-family: 'Ubuntu', sans-serif;
    
    }
    
}

@media (min-width: 768px) and (max-width: 1023px) {
    .navstuff{
        display: block;
        width: 100%;
    }

    .nav-link.active,.nav-link:hover{
        max-width: 100%;
    }

    .nav-item{
        margin-right: 0px;
        font-family: 'Ubuntu', sans-serif;
    
    }
    
}
/*navbar*/




/*main-index*/
.tobi{
    margin-top: 90px;
    height: 250px;
    border-radius: 5px;
}

.tobi-cont{
    display: flex;
    justify-content: center;

}

.tobi-text{
    margin-top: 20px;
    margin-left: 20px;
    text-align: justify;
    color: #F4EEE0;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;

}

.btn{
    margin-right: 30px;
}

.cbtn{
    background-color: #6D5D6E;
    color:#F4EEE0
}

.rbtn{
    background-color: #F4EEE0;
}

.ps-btn{
    margin-left: 20px; 
}

footer{
    margin-top: 20px;
    color: #F4EEE0
}



/*main*/


